<h1>Admin Panel</h1>
<nav>
    <ul>
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/user-management" routerLinkActive="active">User Management</a></li>
      <li><a routerLink="/booking-management" routerLinkActive="active">Booking Management</a></li>
      <li><a routerLink="/payment-management" routerLinkActive="active">Payment Management</a></li>
      <li><a routerLink="/promotion" routerLinkActive="active">Promotion</a></li>
      <li><a routerLink="/reporting" routerLinkActive="active">Reporting</a></li>
    </ul>
</nav>